*{
margin: 0;
padding: 0;
}
#product-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    gap: 20px;
}

.card{
    background-color: white;
    width: 180px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
}
.card img{
    width: 60%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-left: 20%;
    margin-top: 5%;
}
.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

}
.card h1{
    font-size: 1.2rem;
}
.card h2{
    font-size: 0.9rem;
    color: #5c5c5c;
}
.card button{
    background-color: rgb(140, 113, 167);
    height: 30px;
    border:none;
    padding: 4px;
    width: 80%;
    color:white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 4px;
}